body {
    display: grid;
    grid-template-columns: minmax(300px, 980px);
    justify-content: center;
    align-items: center;
    padding: 5vw;

    nav ul {
        list-style: none;
        padding: 0;
    }

    .menu ul {
        display: flex;
        gap: 1em;
    }

    footer {
        margin-top: 3em;
    }
}